/* FONTS */

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
 
.kanit-heading {
  font-family: "Kanit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
}
 
.kanit-subheading {
  font-family: "Kanit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}
 
.kanit-btn-txt {
  font-family: "Kanit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
}

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #ECEDF0;
  background-color: #404A65;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 5rem;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  
  font-family: "Kanit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.author-info a {
  text-decoration: none;
  color: #ECEDF0;
}

.author-info a:hover {
  color: #1F6FB0;
}

/* TITLE SECTION */

.title {
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  -webkit-text-stroke: 5px #35383F;
}

.instructions {
  padding: 1rem 0 3rem;
}

/* COIN IMAGE SECTION */

.coin-imgs {
  display: flex;
  flex-direction: column;

  max-width: 9rem;
}

.coin-tails {
  display: none;
}

.coin-shadow {
  padding: 2.5rem 1.5rem;
}

.coin-label {
  padding: 1rem 0 3rem;
}

/* BUTTON SECTION */

.random-button {
  background-color: #1F6FB0;
  color: #ECEDF0;
  text-transform: uppercase;
  padding: .5rem 3rem;
  margin: 1rem;

  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 0px 0px #23649b;
}